# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

#azure-functions
#psycopg2-binary
#azure-eventhub
#azure-functions-eventhub
azure-functions>=1.18.0
azure-functions-eventhub>=1.2.0
psycopg2-binary
